@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-space-mono: "Space Mono";
  --font-unbounded: Unbounded;
  --font-hanken-grotesk: "Hanken Grotesk";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-77xl: 96px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-61xl: 80px;
  --font-size-21xl: 40px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-7xs: 6px;
  --font-size-sm: 14px;

  /* Colors */
  --light: #fffcf0;
  --navy-bk: #6e83ff;
  --color-royalblue-100: #5469e6;
  --navy-medium-bk: #3f5dba;
  --navy-bk-40a: rgba(110, 131, 255, 0.4);
  --navy-medium-40a: rgba(63, 93, 186, 0.4);
  --yellow-bk: #d6ea5e;
  --green-medium: #9ce860;
  --color-yellowgreen-100: #bdd145;
  --yellow-bk-40a: rgba(214, 234, 94, 0.4);
  --yellow-bk-10a: rgba(214, 234, 94, 0.1);
  --midnight-bold: #061543;
  --color-cornflowerblue-100: #6685e0;
  --color-cornflowerblue-200: rgba(102, 133, 224, 0.09);
  --color-white: #fff;
  --navy-bold: #3552ab;
  --midnight-medium: #333f65;
  --red-light: #f87a7a;
  --mint-100: #f8fff4;
  --dark-800: #0c0f0a;
  --dark-800-30: rgba(12, 15, 10, 0.3);
  --red-medium: #d35151;
  --orange-medium: #f9a455;
  --green-bold: #3c7c08;
  --green-500: #23550a;
  --color-black: #000;
  --red-bold: #7f1111;

  /* Gaps */
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-5xs: 8px;
  --gap-57xl: 76px;
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-47xl: 66px;
  --gap-14xl: 33px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-33xl: 52px;
  --gap-22xl: 41px;
  --gap-25xl: 44px;
  --gap-31xl: 50px;
  --gap-30xl: 49px;
  --gap-101xl: 120px;
  --gap-93xs: -80px;
  --gap-7xs: 6px;
  --gap-9xs: 4px;
  --gap-123xs: -110px;
  --gap-71xl: 90px;
  --gap-3xl: 22px;
  --gap-26xl: 45px;
  --gap-7xs-3: 5.3px;
  --gap-3xs: 10px;
  --gap-4xl: 23px;
  --gap-xs: 12px;
  --gap-11xs: 2px;
  --gap-12xl: 31px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-base: 16px;
  --padding-13xl: 32px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-9xs: 4px;
  --padding-4xs: 9px;
  --padding-xs: 12px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-11xl: 30px;
  --padding-9xs-5: 3.5px;
  --padding-5xs: 8px;
  --padding-mini: 15px;
  --padding-2xl: 21px;
  --padding-20xl: 39px;
  --padding-166xl: 185px;
  --padding-197xl: 216px;
  --padding-73xl: 92px;
  --padding-72xl: 91px;
  --padding-27xl: 46px;
  --padding-6xl: 25px;
  --padding-121xl: 140px;
  --padding-lg: 18px;
  --padding-3xl: 22px;
  --padding-smi: 13px;
  --padding-sm: 14px;
  --padding-6xs: 7px;
  --padding-19xl: 38px;
  --padding-17xl: 36px;
  --padding-25xl: 44px;
  --padding-36xl: 55px;
  --padding-lgi: 19px;
  --padding-7xl: 26px;
  --padding-7xs: 6px;
  --padding-11xs: 2px;
  --padding-45xl: 64px;
  --padding-3xs-5: 9.5px;
  --padding-15xl: 34px;
  --padding-33xl: 52px;
  --padding-29xl: 48px;
  --padding-2xs: 11px;
  --padding-66xl: 85px;
  --padding-125xl: 144px;
  --padding-76xl: 95px;
  --padding-10xs-5: 2.5px;
  --padding-12xs-5: 0.5px;
  --padding-12xs: 1px;
  --padding-2xs-5: 10.5px;
  --padding-109xl: 128px;
  --padding-8xl: 27px;
  --padding-100xl: 119px;
  --padding-14xl: 33px;
  --padding-10xs: 3px;
  --padding-24xl: 43px;
  --padding-xs-8: 11.8px;
  --padding-9xl: 28px;
  --padding-345xl: 364px;
  --padding-163xl: 182px;
  --padding-8xs-5: 4.5px;
  --padding-35xl: 54px;
  --padding-183xl: 202px;
  --padding-112xl: 131px;
  --padding-23xl: 42px;
  --padding-7xs-5: 5.5px;
  --padding-96xl: 115px;
  --padding-111xl: 130px;
  --padding-82xl: 101px;
  --padding-60xl: 79px;
  --padding-52xl: 71px;
  --padding-89xl: 108px;
  --padding-30xl: 49px;
  --padding-190xl: 209px;
  --padding-146xl: 165px;
  --padding-124xl: 143px;
  --padding-117xl: 136px;
  --padding-807xl: 826px;
  --padding-394xl: 413px;
  --padding-187xl: 206px;
  --padding-47xl: 66px;
  --padding-26xl: 45px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-5xs: 8px;
}
