.iconnewReleases {
  height: 16px;
  width: 16px;
}
.iconnewReleases,
.verified {
  position: relative;
}
.framebadge {
  background-color: var(--navy-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-9xs);
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--small-size);
  color: var(--light);
  font-family: var(--h3);
}
