.applicantDiv {
  cursor: pointer;
}
.gigDetails {
  /* height: 47.125rem; */
  background-color: var(--lime-bk-10a);
  flex-direction: column;
  padding: var(--padding-5xs);
  gap: var(--gap-base);
  box-sizing: border-box;
}
.applicants {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  position: relative;
}
.applicantList {
  align-self: stretch;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--p-size);
  color: var(--midnight-800);
}
.applicantList,
.gigDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
