.iconeventList {
  height: 24px;
  width: 24px;
  position: relative;
}
.b,
.b1,
.tasks {
  height: 31px;
  position: relative;
  display: inline-block;
}
.tasks {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.b,
.b1 {
  width: 32px;
}
.b1 {
  width: 10px;
}
.parent {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.expandUserIcon {
  height: 31px;
  position: relative;
  display: inline-block;
}
.expandUser {
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.expandUser,
.userTasks,
.userTasksParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userTasks {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.userTasksParent {
  align-self: stretch;
  justify-content: space-between;
}
.compsubmitTasks,
.frameParent,
.frametaskWrapper {
  align-items: flex-start;
  justify-content: flex-start;
}
.frametaskWrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.compsubmitTasks,
.frameParent {
  gap: var(--gap-5xs);
}
.frameParent {
  width: 654px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.compsubmitTasks {
  align-self: stretch;
  border: 1px solid var(--navy);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
}
.deadline {
  height: 26px;
  position: relative;
  display: inline-block;
}
.iconeventParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.at2359Utc {
  position: relative;
  font-size: var(--small-size);
}
.compdeadlineBox,
.yearParent {
  align-self: stretch;
  display: flex;
}
.yearParent {
  border: 1px solid var(--navy-bk);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-5xs);
  font-size: var(--hl3-size);
}
.compdeadlineBox {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--medium-size);
}
.btniconText {
  flex: 1;
}
.btniconText1 {
  height: 40px;
  flex: 1;
}
.offerActions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.applicants {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.applicants,
.moreApplicantsPlaceholder {
  position: relative;
}
.compchatbubble {
  border: 0.5px solid var(--navy-600-40a);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-12xl);
  color: var(--color-black);
}
.applicantList,
.chatPlaceholderWrapper,
.gigDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.applicantList {
  align-self: stretch;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--p-size);
  color: var(--navy-800);
}
.chatPlaceholderWrapper,
.gigDetails {
  box-sizing: border-box;
}
.gigDetails {
  height: 754px;
  background-color: var(--lime-bk-10a);
  flex-direction: column;
  padding: var(--padding-5xs);
  gap: var(--gap-base);
}
.chatPlaceholderWrapper {
  flex: 1;
  border: 8px solid var(--navy-bk);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-339xl) var(--padding-210xl) var(--padding-339xl)
    var(--padding-227xl);
  min-width: 133px;
  max-width: 100%;
  font-size: var(--p-size);
  color: var(--color-black);
}
.monthsLabel,
.monthsOnGig2hire,
.username {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.username {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.monthsLabel,
.monthsOnGig2hire {
  display: inline-block;
  min-width: 9px;
}
.monthsOnGig2hire {
  min-width: 115px;
}
.monthsOn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.jobsSuccessful {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.userInfo,
.userStats {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.userStats {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--small-size);
  font-family: var(--h3);
}
.userInfo {
  align-self: stretch;
}
.compppOnlineParent,
.userInfo,
.userInfoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.userInfoWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  font-size: var(--hl3-size);
  color: var(--navy-800);
  font-family: var(--hl3);
}
.compppOnlineParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
  color: var(--navy);
}
.freelancerdescription {
  align-self: stretch;
  position: relative;
}
.socialgithubIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.github {
  position: relative;
}
.btnCheck {
  height: 18px;
  width: 18px;
  background-color: var(--light);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.btnVerify {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-9xs) 0;
  gap: var(--gap-xl);
}
.githubCommits1,
.githubcommits {
  position: relative;
  display: inline-block;
  min-width: 129px;
}
.githubcommits {
  min-width: 21px;
}
.githubCommits,
.verification {
  align-self: stretch;
  display: flex;
}
.githubCommits {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--p-size);
}
.verification {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--medium-size);
}
.xcom {
  position: relative;
  display: inline-block;
  min-width: 61px;
}
.xBadge {
  height: 20px;
  width: 73px;
  background-color: var(--navy-400);
}
.xFollowers1 {
  width: 129px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.btniconText2,
.frameContainer {
  align-self: stretch;
}
.frameGroup,
.gigDetails1,
.gigHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  background-color: var(--navy-bk-40a);
  overflow: hidden;
  padding: var(--padding-5xs);
  gap: var(--gap-380xl);
}
.gigDetails1,
.gigHeader {
  gap: var(--gap-3xs);
  font-size: var(--small-size);
  color: var(--navy-800);
}
.gigHeader {
  width: 1272px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--hl3-size);
  color: var(--navy);
  font-family: var(--h3);
}
@media screen and (max-width: 1000px) {
  .chatPlaceholderWrapper {
    padding-top: var(--padding-214xl);
    padding-bottom: var(--padding-214xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .chatPlaceholderWrapper {
    padding-left: var(--padding-104xl);
    padding-right: var(--padding-95xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .applicants {
    font-size: var(--font-size-lgi);
  }
  .chatPlaceholderWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .username {
    font-size: var(--font-size-lgi);
  }
  .github,
  .xcom {
    font-size: var(--p-size);
  }
  .frameGroup {
    gap: var(--gap-180xl);
  }
}
