.iconemergencyHome {
  height: 24px;
  width: 24px;
  position: relative;
}
.duisAuteIrureContainer {
  height: 40px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.compextraInfo,
.duisAuteIrureDolorInRepreWrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.duisAuteIrureDolorInRepreWrapper {
  flex: 1;
  border-left: 1px solid var(--red-800);
  align-items: center;
  justify-content: center;
  padding: 0 0 0 var(--padding-6xs);
  min-width: 395px;
}
.compextraInfo {
  align-self: stretch;
  background-color: var(--red-200);
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--p-size);
  color: var(--red-800);
  font-family: var(--h3);
}
@media screen and (max-width: 625px) {
  .duisAuteIrureDolorInRepreWrapper {
    min-width: 100%;
  }
}
