.iconclockLoader90 {
  height: 32px;
  width: 32px;
  position: relative;
}
.d21h58m23s,
.timeLeftTo {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.timeLeftTo {
  display: inline-block;
  min-width: 108px;
}
.d21h58m23s {
  align-self: stretch;
  font-size: var(--p-size);
  text-align: right;
}
.comptimeLeft,
.timeLeftInfo {
  display: flex;
  justify-content: center;
}
.timeLeftInfo {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.comptimeLeft {
  align-self: stretch;
  background-color: var(--lime-bk-40a);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--small-size);
  color: var(--navy);
  font-family: var(--h3);
}
