.navbarPlaceholder {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.compnavbar,
.gigHeaderWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.compnavbar {
  backdrop-filter: blur(50px);
  border: 1px solid var(--color-black);
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-648xl) var(--padding-4xl)
    var(--padding-651xl);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--p-size);
  color: var(--color-black);
  font-family: var(--h3);
}
.gigHeaderWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.footerPlaceholder {
  position: relative;
}
.compfooter,
.screenchatApplicants {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.compfooter {
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-9xl) var(--padding-648xl) var(--padding-9xl)
    var(--padding-651xl);
  text-align: left;
  font-size: var(--p-size);
  color: var(--color-black);
  font-family: var(--h3);
}
.screenchatApplicants {
  width: 100%;
  position: relative;
  background-color: var(--light);
  flex-direction: column;
  gap: var(--gap-13xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1000px) {
  .compfooter,
  .compnavbar {
    gap: 388px;
    padding-left: var(--padding-316xl);
    padding-right: var(--padding-314xl);
    box-sizing: border-box;
  }
  .compfooter {
    gap: 507px;
  }
  .screenchatApplicants {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .compfooter,
  .compnavbar {
    gap: 194px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .compfooter {
    gap: 254px;
  }
}
