.gig2hire1Icon {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.gig2hireAllRights {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.gig2hireAllRightsReservedWrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 120px);
}
.vectorIcon {
  height: 20px;
  width: 19.6px;
  position: relative;
}
.socialMedia {
  width: 40px;
  height: 40px;
  background-color: var(--navy-bk);
  border: 1px solid var(--yellow-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs);
}
.socialMediaWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.vectorIcon1 {
  width: 28.8px;
  height: 22px;
  position: relative;
}
.footer,
.socialMedia1 {
  background-color: var(--navy-bk);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.socialMedia1 {
  height: 40px;
  width: 40px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 20px);
  right: 32px;
  border: 1px solid var(--yellow-bk);
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.footer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-13xl);
  position: relative;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--yellow-bk);
  font-family: var(--font-space-mono);
}
