.welcomeAbroad {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.welcomeAbroadWrapper {
  align-self: stretch;
  background-color: var(--navy-bk);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.addPhotoAlternateIcon {
  width: 48px;
  height: 48px;
  position: relative;
}
.addAProfile {
  align-self: stretch;
  position: relative;
}
.addPhotoAlternateParent {
  width: 183px;
  background-color: var(--navy-bk-40a);
  border: 3px dashed var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xl) var(--padding-7xs);
  gap: var(--gap-3xs);
  min-width: 183px;
}
.howDoYou,
.searchInGlobal {
  position: relative;
}
.searchInGlobal {
  text-decoration: none;
  color: inherit;
}
.nameInputFields,
.textInput {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.textInput {
  background-color: var(--yellow-bk-10a);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-base);
  white-space: nowrap;
  font-size: var(--font-size-xl);
  color: var(--navy-medium-40a);
}
.nameInputFields {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.yourCompanyName {
  position: relative;
}
.nameInputFields1,
.textInput1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.textInput1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--yellow-bk-10a);
  height: 50px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--font-space-mono);
  font-size: var(--font-size-xl);
  color: var(--navy-medium-40a);
  min-width: 250px;
}
.nameInputFields1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.yourCompanyName1 {
  height: 21px;
  position: relative;
  display: inline-block;
}
.searchInGlobal1 {
  position: relative;
  font-weight: 300;
}
.textInput2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--mint-100);
  border: 1px solid var(--dark-800-30);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  white-space: nowrap;
  font-size: var(--font-size-xl);
  color: var(--dark-800-30);
}
.yourCompanyNameParent {
  width: 444px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  color: var(--dark-800);
  font-family: var(--font-hanken-grotesk);
}
.addADescription,
.searchInGlobal2 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.searchInGlobal2 {
  margin: 0;
  flex: 1;
}
.b,
.textInput3 {
  align-self: stretch;
}
.textInput3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.b {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 700;
  text-align: right;
}
.addADescriptionForYourProParent,
.textInputParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.textInputParent {
  background-color: var(--yellow-bk-10a);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  min-height: 130px;
  color: var(--navy-medium-40a);
}
.addADescriptionForYourProParent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.back {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 40px;
}
.gig2hire1Icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.getStarted {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 700;
  font-family: var(--font-space-mono);
  color: var(--light);
  text-align: left;
  display: inline-block;
  min-width: 108px;
}
.backParent,
.btnJoingig {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btnJoingig {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--navy-bk);
  overflow: hidden;
  justify-content: center;
  gap: var(--gap-base);
  white-space: nowrap;
}
.btnJoingig:hover {
  background-color: var(--color-royalblue-100);
}
.backParent {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 0 238px;
  gap: var(--gap-3xs);
  color: var(--navy-bk-40a);
}
.frameParent,
.joinClient,
.nameInputFieldsParent {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.nameInputFieldsParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 304px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--midnight-bold);
}
.frameParent,
.joinClient {
  box-sizing: border-box;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-2xl) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--navy-bk);
  font-family: var(--font-space-mono);
}
.joinClient {
  width: 720px;
  background-color: var(--light);
  border: 2px solid var(--navy-bk);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--light);
  font-family: var(--font-unbounded);
}
@media screen and (max-width: 600px) {
  .addPhotoAlternateParent {
    flex: 1;
  }
  .backParent {
    padding-left: var(--padding-100xl);
    box-sizing: border-box;
  }
  .backParent,
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .addAProfile {
    font-size: var(--font-size-base);
  }
  .frameParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
