.hAgo,
.mobileAppDesign,
.posted {
  position: relative;
  display: inline-block;
}
.mobileAppDesign {
  max-width: 100%;
}
.hAgo,
.posted {
  min-width: 45px;
}
.hAgo {
  font-weight: 700;
}
.jobListingMetadata {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-xs);
  color: var(--midnight-bold);
}
.jobListingDetails {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.blankLine,
.lookingForAn,
.youMustHave {
  display: block;
}
.lookingForAnContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--midnight-bold);
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.b,
.jobTasks {
  position: relative;
}
.jobTasks {
  height: 30px;
  flex: 1;
  display: inline-block;
}
.parent {
  width: 132px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.checkSmallIcon {
  width: 20px;
  height: 20px;
  position: relative;
}
.btnCheck {
  height: 18px;
  background-color: var(--navy-medium-bk);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.createAUser {
  height: 18px;
  position: relative;
  display: inline-block;
}
.btnCheckParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 186px;
}
.checkSmallIcon1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.btnCheck1 {
  height: 18px;
  background-color: var(--navy-medium-bk);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.createLandingPage {
  height: 18px;
  position: relative;
  display: inline-block;
}
.btnCheckGroup {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 186px;
}
.checkSmallIcon2 {
  width: 20px;
  height: 20px;
  position: relative;
}
.btnCheck2 {
  height: 18px;
  background-color: var(--navy-medium-bk);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.createAllIcons {
  height: 18px;
  position: relative;
  display: inline-block;
}
.btnCheckContainer,
.frameGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btnCheckContainer {
  flex: 1;
  align-items: center;
  gap: var(--gap-5xs);
  min-width: 186px;
}
.frameGroup {
  align-self: stretch;
  align-items: flex-start;
  row-gap: 20px;
}
.checkSmallIcon3 {
  width: 20px;
  height: 20px;
  position: relative;
}
.btnCheck3 {
  height: 18px;
  background-color: var(--navy-medium-bk);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.createMarketplace {
  height: 18px;
  position: relative;
  display: inline-block;
}
.frameDiv {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 173px;
}
.checkSmallIcon4 {
  width: 20px;
  height: 20px;
  position: relative;
}
.btnCheck4 {
  height: 18px;
  background-color: var(--navy-medium-bk);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.designCheckoutModal {
  height: 18px;
  position: relative;
  display: inline-block;
}
.btnCheckParent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 173px;
}
.checkSmallIcon5 {
  width: 20px;
  height: 20px;
  position: relative;
}
.btnCheck5 {
  height: 18px;
  background-color: var(--navy-medium-bk);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.designUserCreator {
  height: 18px;
  position: relative;
  display: inline-block;
}
.btnCheckParent2,
.frameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btnCheckParent2 {
  flex: 1;
  align-items: center;
  gap: var(--gap-5xs);
  min-width: 173px;
}
.frameContainer {
  align-self: stretch;
  align-items: flex-start;
  row-gap: 20px;
}
.checkSmallIcon6 {
  width: 20px;
  height: 20px;
  position: relative;
}
.btnCheck6 {
  height: 18px;
  background-color: var(--navy-medium-bk);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.createStoreBuilder {
  height: 18px;
  position: relative;
  display: inline-block;
}
.btnCheckParent3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 161px;
}
.btnCheck7 {
  margin: 0;
  height: 18px;
  width: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.designUsermerchantChat {
  height: 18px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.btnCheckParent4 {
  flex: 0.8468;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-19xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 161px;
}
.frameChild {
  height: 18px;
  width: 248px;
  flex-shrink: 0;
}
.frameParent,
.frameParent1,
.tasks {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
}
.frameParent,
.tasks {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frameParent {
  display: flex;
  font-size: var(--font-size-xs);
  color: var(--midnight-medium);
}
.tasks {
  display: none;
}
.eventIcon {
  height: 18px;
  width: 18px;
  position: relative;
}
.deadline,
.jun122024 {
  position: relative;
  display: inline-block;
}
.deadline {
  font-weight: 700;
  min-width: 89px;
}
.jun122024 {
  min-width: 118px;
}
.eventParent {
  background-color: var(--yellow-bk-40a);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.groupIcon {
  height: 18px;
  width: 18px;
  position: relative;
}
.candidates,
.jobListingApplication {
  position: relative;
  display: inline-block;
}
.candidates {
  font-weight: 700;
  min-width: 108px;
}
.jobListingApplication {
  min-width: 10px;
}
.jobListingApplicationCandid {
  background-color: var(--yellow-bk-40a);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.publicIcon {
  height: 18px;
  width: 18px;
  position: relative;
}
.timezone,
.utc5 {
  position: relative;
  display: inline-block;
}
.timezone {
  font-weight: 700;
  min-width: 89px;
}
.utc5 {
  min-width: 49px;
}
.jobListingApplicationTimezo {
  background-color: var(--yellow-bk-40a);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.jobListingApplicationDetail,
.jobListingContent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.jobListingApplicationDetail {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--midnight-bold);
}
.jobListingContent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.timerIcon {
  height: 20px;
  width: 20px;
  position: relative;
}
.timeLeftTo {
  position: relative;
  display: inline-block;
  min-width: 89px;
}
.d21h58m23s {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  text-align: right;
  white-space: nowrap;
}
.jobListingApplicationTimeL1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-9xs);
}
.jobListingApplicationTimeL {
  align-self: stretch;
  background-color: var(--yellow-bk-40a);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-2xs) var(--padding-11xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
}
.showDetails {
  position: relative;
  display: inline-block;
  min-width: 118px;
}
.keyboardArrowDownIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.btnDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-9xs);
  font-size: var(--font-size-base);
  color: var(--midnight-medium);
}
.jobListingApplicationTimer {
  height: 146px;
  width: 162px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-size: var(--font-size-5xs);
  color: var(--midnight-bold);
}
.jobListingContainers {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.youWillCollect {
  height: 18px;
  position: relative;
  display: inline-block;
}
.b1,
.dai {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.group,
.youWillCollectParent {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.group {
  width: 118px;
  flex: 1;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-5xs);
  font-size: var(--font-size-5xl);
}
.youWillCollectParent {
  height: 62px;
  background-color: var(--navy-bk);
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-base);
}
.theJobPayment {
  height: 60px;
  width: 360px;
  position: relative;
  font-size: var(--font-size-3xs);
  color: var(--midnight-bold);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.frameParent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.personRaisedHandIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.apply {
  position: relative;
}
.btnApply {
  height: 62px;
  width: 162px;
  background-color: var(--yellow-bk);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--navy-medium-bk);
}
.compJoboffer,
.frameParent2 {
  align-self: stretch;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent2 {
  background-color: var(--light);
  display: none;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
  color: var(--light);
}
.compJoboffer {
  background-color: var(--yellow-bk-10a);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--navy-medium-bk);
  font-family: var(--font-space-mono);
}
@media screen and (max-width: 975px) {
  .frameParent2,
  .jobListingContainers {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .frameContainer,
  .frameGroup,
  .frameParent1,
  .jobListingApplicationDetail,
  .jobListingDetails {
    flex-wrap: wrap;
  }
  .jobListingContent {
    min-width: 100%;
  }
  .frameParent3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .b,
  .jobTasks,
  .mobileAppDesign {
    font-size: var(--font-size-base);
  }
  .btnCheckParent4 {
    flex: 1;
  }
  .jobListingApplicationTimer {
    height: 146px;
  }
  .b1,
  .dai {
    font-size: var(--font-size-lgi);
  }
  .apply {
    font-size: var(--font-size-base);
  }
}
