.by,
.posted,
.timePosted {
  text-decoration: none;
  position: relative;
  color: grey;
}

.timePosted {
  font-weight: 700;
}

.by {
  display: inline-block;
  min-width: 17px;
}

.jobInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.offerTitle {
  margin: 0;
  position: relative;
  font-size: var(--medium-size);
  font-weight: 700;
  font-family: inherit;
  color: var(--navy);
  display: inline-block;
  max-width: 100%;
}

.jobInfoParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  max-width: 100%;
  font-size: var(--small-size);
  color: var(--grey-600);
}

.lookingForAn {
  margin: 0;
}

.description {
  align-self: stretch;
}

.description,
.taskNumber {
  position: relative;
  color: #081444;
}

.taskNumber1 {
  position: relative;
  color: #3f5dba;
}

.applyText {
  position: relative;
  color: #3f5dba;
}

.tasks1 {
  position: relative;
}

.tasks1 {
  display: inline-block;
  min-width: 44px;
}

.taskElements,
.taskHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.taskHeader {
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-5xs);
}

.taskElements {
  align-self: stretch;
  gap: var(--gap-xs);
}

.spacerTask {
  height: 18px;
  flex: 1;
  min-width: 174px;
}

.taskItem,
.tasks {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.tasks {
  color: var(--navy);
}

.iconevent {
  height: 20px;
  width: 20px;
  position: relative;
}

.iconeventParent {
  background-color: var(--lime-bk-40a);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) 5px var(--padding-9xs) var(--padding-9xs);
  gap: var(--gap-9xs);
}

.candidates {
  position: relative;
  display: inline-block;
  min-width: 94px;
  color: #081444
}

.content,
.metaIcons,
.tags {
  display: flex;
  justify-content: flex-start;
}

.metaIcons {
  background-color: var(--lime-bk-40a);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-9xs) var(--padding-9xs);
  gap: var(--gap-9xs);
}

.content,
.tags {
  max-width: 100%;
}

.tags {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}

.content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}

.iconkeyboardArrowDown {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
}

.btnDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs) 66px;
  gap: var(--gap-9xs);
}

.clock {
  height: 559px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--grey-600);
}

.contentParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--p-size);
  color: var(--navy-800);
  font-family: var(--h3);
}

.youWillCollect {
  position: relative;
  display: inline-block;
  min-width: 120px;
}

.iconusdc {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.earningsSeparator,
.usdc {
  position: relative;
  display: inline-block;
  min-width: 46px;
}

.usdc {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  min-width: 64px;
}

.earningsAmount,
.earningsInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.earningsAmount {
  gap: var(--gap-5xs);
  font-size: var(--h3-size);
}

.earningsInfo {
  padding: var(--padding-5xs) var(--padding-mini);
  gap: var(--gap-base);
}

.iconpersonRaisedHand {
  height: 24px;
  width: 24px;
  position: relative;
}

.label {
  cursor: pointer;
}

.input {
  display: none;
}

.btniconText {
  background-color: #d6ea5e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-mini);
  gap: var(--gap-5xs);
  font-size: var(--h3-size);
  color: var(--navy);
}

.apply,
.compjobofferV2 {
  display: flex;
  padding: var(--padding-5xs);
}

.apply {
  align-self: stretch;
  background-color: var(--navy-bk);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.compjobofferV2 {
  width: 1300px;
  background-color: #F5F9BC;
  max-width: 100%;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--p-size);
  color: var(--light);
  font-family: var(--h3);
}

.iconclockLoader90 {
  height: 32px;
  width: 32px;
  position: relative;
}

.d21h58m23s,
.timeLeftTo {
  text-decoration: none;
  position: relative;
  color: inherit;
}

.timeLeftTo {
  display: inline-block;
  min-width: 108px;
}

.d21h58m23s {
  align-self: stretch;
  font-size: var(--p-size);
  text-align: right;
}

.comptimeLeft,
.timeLeftInfo {
  display: flex;
  justify-content: center;
}

.timeLeftInfo {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.comptimeLeft {
  align-self: stretch;
  background-color: var(--lime-bk-40a);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--small-size);
  color: var(--navy);
  font-family: var(--h3);
}


@media screen and (max-width: 600px) {
  .taskElements {
    flex-wrap: wrap;
  }

  .content {
    min-width: 100%;
  }

  .apply {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 450px) {
  .offerTitle {
    font-size: var(--p-size);
  }

  .tags {
    flex-wrap: wrap;
  }

  .clock {
    height: 359px;
  }

  .earningsSeparator,
  .usdc {
    font-size: var(--font-size-lgi);
  }
}