.talentSpeaksLouder {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.frameContainer,
.frameGroup,
.frameParent {
  width: 1232px;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.frameContainer,
.frameGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameParent {
  overflow-x: auto;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--midnight-bold);
  font-family: var(--font-space-mono);
}
.frameParent,
.why,
.whyWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.why {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-21xl);
}
.whyWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-61xl) var(--padding-5xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--navy-medium-bk);
  font-family: var(--font-unbounded);
}
@media screen and (max-width: 1200px) {
  .whyWrapper {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .talentSpeaksLouder {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: var(--gap-base);
  }
  .why {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .talentSpeaksLouder {
    font-size: var(--font-size-10xl);
  }
}
