.iconeventList {
  height: 24px;
  width: 24px;
  position: relative;
}
.b,
.tasks {
  position: relative;
  display: inline-block;
  min-width: 73px;
}
.b {
  min-width: 28px;
}
.b1 {
  min-width: 10px;
}
.b1,
.b2 {
  position: relative;
  display: none;
}
.iconeventListParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.iconkeyboardArrowDown {
  height: 24px;
  width: 24px;
  position: relative;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.compsubmitTasks,
.frameGroup,
.frametaskGroup,
.frametaskParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frametaskGroup,
.frametaskParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 128px;
}
.compsubmitTasks,
.frameGroup {
  align-self: stretch;
}
.frameGroup {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}
.compsubmitTasks {
  border: 1px solid var(--navy);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-6xs);
  min-height: 47px;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--navy);
  font-family: var(--h3);
}
@media screen and (max-width: 450px) {
  .b,
  .b1,
  .b2,
  .tasks {
    font-size: var(--font-size-lgi);
  }
}
