.iconevent {
  height: 24px;
  width: 24px;
  position: relative;
}
.deadline {
  position: relative;
  display: inline-block;
  min-width: 85px;
}
.iconeventParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.b,
.day {
  position: relative;
}
.b {
  display: inline-block;
  min-width: 9px;
}
.dayParent {
  align-self: stretch;
  width: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.b1,
.dayNumber {
  position: relative;
  display: inline-block;
  min-width: 27px;
}
.b1 {
  min-width: 12px;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.at2359Utc {
  position: relative;
  font-size: var(--small-size);
}
.frameParent {
  align-self: stretch;
  border: 1px solid var(--navy-bk);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xs) var(--padding-5xs);
  min-height: 39px;
  gap: var(--gap-xl);
  font-size: var(--h3-size);
}
.compdeadlineBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 257px;
  max-width: 100%;
  text-align: left;
  font-size: var(--medium-size);
  color: var(--navy);
  font-family: var(--h3);
}
@media screen and (max-width: 450px) {
  .deadline {
    font-size: var(--p-size);
  }
  .b,
  .b1,
  .day,
  .dayNumber {
    font-size: var(--font-size-lgi);
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
