.roadMap {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.roadMapWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--navy-medium-bk);
  font-family: var(--font-unbounded);
}
.frameParent,
.newlandingDesktop,
.newlandingDesktopInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.newlandingDesktopInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
}
.newlandingDesktop {
  width: 100%;
  position: relative;
  background-color: var(--light);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-29xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .roadMap {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: var(--gap-xl);
  }
  .newlandingDesktop {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .roadMap {
    font-size: var(--font-size-10xl);
  }
}
