.viewOffer {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}

.iconclose {
  height: 24px;
  width: 24px;
  position: relative;
}

.btnclose,
.viewOfferParent {
  background-color: var(--light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs);
}

.viewOfferParent {
  align-self: stretch;
  background-color: var(--yellow);
  justify-content: space-between;
  padding: var(--padding-base);
  gap: var(--gap-xl);
}

.developADefi {
  align-self: stretch;
  position: relative;
}

.lookingForAn {
  margin: 0;
  position: relative;
  font-size: var(--p-size);
}

.compdeadlineBoxParent,
.developADefiDashboardForHParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}

.compdeadlineBoxParent {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.developADefiDashboardForHParent {
  flex-direction: column;
  justify-content: flex-start;
}

.withdrawFromOffer {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 127px;
}

.unavailable {
  position: relative;
}

.btniconText,
.withdrawFromOfferParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btniconText {
  flex: 0.8485;
  background-color: var(--light);
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 129px;
  font-size: var(--h3-size);
  color: var(--grey-400);
}

.withdrawFromOfferParent {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 0 128px;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--medium-size);
  color: var(--red-200);
  font-family: var(--h3);
}

.frameParent,
.modalreviewOffer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: rgb(214, 234, 94, 0.4);
  z-index: 100000;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.frameParent {
  align-self: stretch;
  padding: var(--padding-5xl);
  gap: 48px;
  font-size: var(--h3-size);
  color: var(--navy-800);
  font-family: var(--h3);
}

.modalreviewOffer {
  width: 720px;
  background-color: var(--light);
  border: 2px solid var(--lime-200);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  font-size: 32px;
  color: var(--navy);
  font-family: var(--font-unbounded);
}

.modalreviewOffer.active {
  display: flex;
}

@media screen and (max-width: 675px) {
  .withdrawFromOfferParent {
    padding-left: 64px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 625px) {
  .withdrawFromOfferParent {
    flex-wrap: wrap;
  }

  .frameParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {
  .developADefi {
    font-size: var(--font-size-lgi);
  }

  .withdrawFromOffer {
    font-size: var(--p-size);
  }

  .unavailable {
    font-size: var(--font-size-lgi);
  }

  .btniconText {
    flex: 1;
  }

  .withdrawFromOfferParent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .frameParent {
    gap: 24px;
  }
}